* {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Roboto';
    font-size: 32px;
}

.timeline {
    width: 85%;
    height: auto;
    padding: 15mm 5mm !important;
    margin: 2mm auto 20mm auto !important;
    position: relative;
}

.timeline .page-title {
    font-size: 40px;
    text-align: center;
    margin: 1mm 0mm !important;
}

.timeline .dash-message {
    font-size: 20px;
    display: block;
    margin: 5mm auto !important;
    padding-left: 3mm !important;
}

.timeline .dash-message i {
    font-size: 20px;
}

@media screen and (max-width: 415px) {
    .timeline {
        width: 100%;
        padding: 2mm 0mm 4mm 0mm !important;
        margin-bottom: 4mm !important;
    }
    .timeline .dash-meassage {
        margin-top: 4mm !important;
        width: 80%;
    }
}

@media screen and (max-width: 380px) {
    .timeline .page-title {
        font-size: 36px;
    }
    .timeline .dash-meassage {
        font-size: 17px;
    }
    .timeline .dash-message i {
        font-size: 17px;
    }
}

@media screen and (max-width: 330px) {
    .timeline .page-title {
        font-size: 32px;
    }
    .timeline .dash-meassage {
        font-size: 15px;
    }
    .timeline .dash-message i {
        font-size: 15px;
    }
}