* {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto';
}

html {
    position: relative;
    top: 0%;
    left: 0%;
}

.HomeContainer {
    width: 100%;
    height: auto;
    padding: 5mm 0mm !important;
    color: rgba(50, 50, 50, 0.9);
}

.HomeContainer>.top-sect {
    width: 85%;
    height: auto;
    padding: 15mm 5mm !important;
    margin: 2mm auto 20mm auto !important;
    background-color: rgba(253, 232, 213, 0.3);
    position: relative;
}

.HomeContainer .top-sect h1 {
    font-size: 40px;
    text-align: center;
    margin: 1mm 0mm !important;
}

.HomeContainer .top-sect label {
    font-size: 24px;
    display: block;
    margin: 2mm auto !important;
    text-align: center;
}

.btn-container {
    width: 160px;
    height: auto;
    margin: 4mm auto 0mm auto !important;
}

.HomeContainer .top-sect .btn-container .route-btn {
    padding: 2mm !important;
    border: none;
    border-radius: 1.5mm;
    margin-right: 1mm;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.HomeContainer .top-sect .btn-container .route-btn:focus {
    outline: none;
}

.HomeContainer .top-sect .btn-container .route-btn .btn-route {
    color: inherit;
    text-decoration: none;
    margin: auto;
}

.HomeContainer .top-sect .btn-container .route-btn .btn-route:hover {
    color: rgba(240, 240, 240, 0.8);
}

.HomeContainer .top-sect .btn-container .route-btn .btn-route:focus {
    outline: none;
}

.btn-def {
    background-color: rgba(45, 54, 92, 1);
    transition: color 250ms, background-color 250ms;
}

.btn-def:hover {
    background-color: rgba(69, 82, 134, 1);
    color: rgba(240, 240, 240, 0.8);
}

.btn-def:active {
    background-color: rgba(69, 82, 134, 0.6);
}

.btn-go {
    background-color: rgba(53, 172, 91, 1);
    transition: color 250ms, background-color 250ms;
}

.btn-go:hover {
    background-color: rgba(66, 209, 111, 1);
    color: rgba(240, 240, 240, 0.8);
}

.btn-go:active {
    background-color: rgba(66, 209, 111, 0.6);
}

.sect-title {
    text-align: center;
    font-weight: 800;
    margin: 2% 0% 1% 0%;
    font-size: 26px;
}

.sect-title hr {
    margin: 0mm auto 4mm auto !important;
    width: 50%;
}

.sect-title hr:first-of-type {
    width: 70%;
}

.HomeContainer .third-container {
    width: 100%;
    height: auto;
    background-color: ghost-white;
}

.HomeContainer .third-container .third-wrap {
    margin: auto !important;
    width: 90%;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 22px;
}

.HomeContainer .third-container .one-third {
    float: left;
    width: 30%;
    padding-bottom: 30px;
    height: auto;
    margin: 20px 12px !important;
}

.HomeContainer .third-container .one-third p {
    margin: auto;
    text-align: center;
    width: 96%;
    font-size: 80%;
}

@media screen and (max-width: 1040px) {
    .HomeContainer .third-container .one-third {
        margin: 0.35% !important;
    }
    .HomeContainer .third-container .one-third p {
        font-size: 75%;
    }
}

@media screen and (max-width: 790px) {
    .HomeContainer .third-container .one-third p {
        font-size: 90%;
    }
    .HomeContainer .third-container .one-third {
        width: 46%;
    }
}

@media screen and (max-width: 415px) {
    .HomeContainer .top-sect {
        width: 100%;
    }
    .HomeContainer .third-container .one-third p {
        font-size: 80%;
    }
    .HomeContainer .third-container .one-third {
        width: 98%;
        margin: 2mm auto !important;
    }
}