    <nav class="My-navbar">
      <a class="logo-route"[routerLink] = "['/']"> MEAN Social Auth-APP</a>
      <div class="nav-container">
        <ul class="nav-routes nav-routes-left">
          <li class="route-item">
            <a class="route" [routerLink]="['/']"> Home </a>
          </li>
        </ul>
        <ul class="nav-routes nav-routes-right">
          <li class="route-item">
            <a class="route" [routerLink]="['/register']"> Register </a>
          </li>
          <li class="route-item">
            <a class="route" [routerLink]="['/login']"> Login </a>
          </li>
        </ul>
      </div>
      <button class="nav-toggler"><i class="material-icons">arrow_drop_down_circle</i></button>
      
    </nav>
